.card{
    padding: 20px;
    background-color: #E1EEDD;
    width: 235px;
    margin: 15px;
    border-radius: 10px ;
}

.title{
    font-weight: bold;
    font-size: 20px;
}

.title:hover {
    font-size: 23px;
}

.info{
    padding: 15px  7px;

    p{
        font-size: 15px;
    }
}

.see {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .icon{
        font-size: 17px;
        margin-left: 7px;

    }

}

.icon:hover {
    font-size: 19px ;
}