.Form{
    padding-left: 20px;
}

.input{
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    label{
        margin-bottom: 5px;
    }

    input{
        width: 200px;
        padding: 10px 5px;
        border-radius: 5px;
        margin-left: 10px;
    }
}

.lessons{
    margin-top: 30px;
}