.lessen{
    display: flex;
    background-color: #FEFBE9;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    justify-content: space-between;
    width: 600px;

    p{
        font-size: 18px;

        span{
            font-weight: bold;
        }
    }

}